<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/signup.css">
    <script>
        const c = "[[${c}]]";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/signup.js" defer></script>
</head>

<body>
    <header class="default_hdr">
        <h1 class="default_hdr_txt">Se Apresente</h1>
    </header>
    <main>
        <section class="default_form_section" id="signup_form_section">
            <form class="default_form" id="signup_form">
                <div class="default_input_div" id="name_input_div">
                    <label for="name_input" class="default_input_lbl">Seu Nome:</label>
                    <input type="text" name="name_input" id="name_input" class="default_input" required minlength="3"
                        maxlength="10">
                </div>
                <div class="btn_menu">
                    <button class="default_btn" id="signup_btn">Entrar na sala</button>
                </div>
            </form>
        </section>

    </main>

</body>

</html>